@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#loop {
    position: relative;
    height: 125px;
    width: 125px;
    display: inline-block;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-left-color: lime;
    animation: check-rotate 1s linear infinite;
}

#loop #check-icon{
    display: none;
}

#loop #check-icon:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 28px;
  transform: scaleX(-1) rotate(135deg);
  height: 56px;
  width: 28px;
  border-top: 4px solid #5cb85c;
  border-right: 4px solid #5cb85c;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
}

@keyframes check-rotate {
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
}

@keyframes check-icon {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 28px;
      opacity: 1;
    }
    40% {
      height: 56px;
      width: 28px;
      opacity: 1;
    }
    100% {
      height: 56px;
      width: 28px;
      opacity: 1;
    }
}